.intro-text {
    /* font-family: Inter; */
    color: white;
    font-size: 16px;
    font-weight: 800;
    line-height: 163%;
    /* line-height: 58px; */
    /* letter-spacing: 0em;
    text-align: left; */
}