/* .cover__overlay {
    display: flex;
    width: 560px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    background-image: url('../../../img/__background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
}

cover__overlay::before {
    width: 100%;
    height: 100%;
    content: "";
    background-color: black;
    opacity: 0.7;
    transition: opacity 1s linear;
    z-index: -1;
} */