.cover__title{
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    top: 6246px;
    
}
/* width: 560px
height: 152px
top: 6246px
left: 360px */
